*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 30px;
}