*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}
.section{
  position: relative;
  content: "";
  height: 100vh;
  background-image: url(./images/section-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 30px;
}
.hero__h2{
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
  width: 530px;
  height: 195px;
  color: #FFF;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 65px;
letter-spacing: 0.2px;
}
.ford-right{
  display: flex;
}
.ford-right__p{
  width: 1093px;
color: #5A7184;
font-family: Open Sans;
}
.ford-right__img{
  margin-right: 50px;
  width: 548px;
height: 429px;
}
.ford-left__h1{
  width: 554px;
color: #223B74;
font-family: Poppins;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 100px;
letter-spacing: 0.2px;
}
.ford-left__p{
  width: 516px;
color: #5A7184;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.engine__h2{
  margin-bottom: 50px;
  width: 670px;
color: #223B74;
font-family: Poppins;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 100px;
letter-spacing: 0.2px;
}
.engine__p{
  margin-bottom: 25px;
  width: 1093px;
  color: #5A7184;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
  
}
.engine__p-2{
  width: 1093px;
  color: #5A7184;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.fual-right{
  display: flex;
  margin-top: 100px;
}
.fual-right__img{
width: 548.69px;
height: 429.127px;
flex-shrink: 0;
border-radius: 16px 0px 0px 16px;
}
.fual-left__h1{
  width: 554px;
  color: #223B74;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; 
  letter-spacing: 0.2px;
}
.fual-left__p{
  width: 516px;
  color: #5A7184;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}